#toc_container {
    border: 1px solid #aaa;
    font-size: 95%;
    margin: 0;
    margin-bottom: 1em;
    margin-top: 20px;
    border: 0;
    outline: 0;

}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: inside none none ;
}
